[MASTER]
load-plugins=pylint_django

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes=10

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes
